body { background-color: #50bae8;
  opacity: 0.9;

}


h1 {background-color: black;
    width: 15%;
    padding: 0px 50px;
    color: white;
    margin: 0 auto;
    font-family: 'Slabo 27px', serif;
    text-align: center;

}

a { color: white;
  text-decoration: none;

}

.row-image {
  height: 100px;
  width: 150px;
  box-shadow: 10px 10px 5px black;
  margin-right: 15px;
  border: 5px solid white;
}


.topnav {
    background-color: Black;
    overflow: hidden;
    width: 15%;
    min-width: 500px;
}

.topnav a {
  padding: 20px;

}

p {
  font-family: "times new roman"

}

blockquote {
  color: white;

}

#firstparagraph {
  color: white;
}
